@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800i');

a {
    text-decoration: none;
    color: #707070;
}
a:hover {
    text-decoration: underline;
    color: #303030;
}
.active a {
    color: black;
}
body {
    width: 50%;
    margin: 0 auto;
}
dl {
    padding-left: 20px;
    padding-right: 20px;
}
dt {
    font-weight: 600;
}
h1 {
    margin: 30px auto 20px auto;
    width: 470px;
    max-width: 100%;
}
h1 img {    
    max-width: 100%;
}
h2 {
    font-weight: 800;
    font-style: italic;
    font-size: 2.4rem;
    margin: 0;
}
html {
    font-family: "Open Sans";
    font-size: 62.5%;
}
p, dl {
    font-size: 1.4rem;
}
.tab-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    min-width: 575px;
    max-width: 100%;
}
.tab-list li {
    background-color: #e1e1e1;
    width: 200px;
    height: 50px;
    padding-top: 7px;
    margin: 0;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #707070;
}
.tab-list li.active {
    border-bottom: none;
}
.tab-list li:nth-child(2){
    margin: 0 7px;
}
.tab-panel {
    background-color: #e1e1e1;
    min-width: 575px;
    max-width: 100%;
    height: 290px;
    padding-top: 20px;
    margin-bottom: 40px;
}
#thumbnails {
    display: flex;
    justify-content: space-between;
    min-width: 575px;
    max-width: 100%;
}
.thumb {
    flex: 1;
    max-width: 32%;
    background-color: white;
    border: 1px solid #707070;   
    display: flex;
    justify-content: center;
}
.thumb.active {
    border: 1px solid #aa343a;  
}

/** background gradient**/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aa343a+20,aa343a+20,ffffff+47,ffffff+76,581d20+94 */
html {
    background: #aa343a; /* Old browsers */
    background: -moz-linear-gradient(top,  #aa343a 20%, #aa343a 20%, #ffffff 47%, #ffffff 76%, #581d20 94%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #aa343a 20%,#aa343a 20%,#ffffff 47%,#ffffff 76%,#581d20 94%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #aa343a 20%,#aa343a 20%,#ffffff 47%,#ffffff 76%,#581d20 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa343a', endColorstr='#581d20',GradientType=0 ); /* IE6-9 */
}

/** photo viewer CSS **/
#photo-viewer {
    position: relative;
    height: 300px;
    overflow: hidden;
    min-width: 575px;
    max-width: 100%;
    background-color: white;
}
#photo-viewer.is-loading:after {
    content: url(images/load.gif);
    position: absolute;
    top: 0;
    right: 0;
}
#photo-viewer img {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    top: 50%;
    left: 50%;
}

/** tab panel CSS **/
.tab-panel {
    display: none;
}
.tab-panel.active {
    display: block;
}